.{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior:smooth;
}
p{
    font-weight: 300;
    color: #111;
}
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
justify-content: space-evenly;
align-items: center;
transition: 0.5s; 
}
.logo{
    color:white;
    font-weight: bold;
    font-size: 1.3cm;
    text-decoration: none;
}
.logo span{
    color: rgb(241, 203, 34);
    
}
.navbar{
    display: flex;
    position: relative;

}
.navbar li{
    list-style:none;
}
.navbar a{
    color: beige;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.btn-reserve{
    padding: 10px 20px;
    background-color: rgb(231, 59, 7);
    margin-top: 0%;
    text-transform: uppercase;
}
.btn-reserve:hover{
    text-decoration: gold;
    transition:ease-out;
}
header .navbar li a:hover{
    color: rgb(240, 197, 9);
    border-bottom: 2px solid rgb(240, 197, 9);
}
.tag{
    color: rgb(241, 203, 34);
    font-weight:lighter;
    font-size: 2.5cm;
    text-decoration: none;
     text-transform: capitalize;
}
.banniere{
    position:relative;
    width: 100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(./maine.jpeg);
    background-size: contain;
   

}
.banniere .contenu{
    max-width: 80%;
    text-align: center;
}
.contenu p:nth-child(2){
text-align: center;
text-transform: capitalize;
color:#ffffff;
font-size: 0.7cm;

}
.btn1{
    font-size: 1.1em;
    color:white;
    background: gold;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 10px;
}
.btn2{
    font-size: 1.1em;
    color:gold;
    background: whitesmoke;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-left: 10px;
}
.btn1:hover{
letter-spacing: 4px;
}
.btn2:hover{
letter-spacing: 4px;
}
.logo{
    transition: 2s;
    transition-property: scale, ease;
}
.logo:hover{
    scale: 2;
}

.section{
    padding: 100px;

}
.apropos{
   background-color: #08c4e662;
}
.liste{
    display: flex;
    position:relative;
     flex-direction: column;
     justify-content: space-between;
}
.liste li{
    list-style-type: style none;
}
.liste a{
    color:#000000;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
    align-items: center;
    margin-top: 20%;
}
.apropos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
    min-height: 100pv;
}
.col50{
    width: 50%;
}
.col50 p{
    text-transform: capitalize;
    color: rgb(228, 236, 234)16);
}
.apropos img{
    height: auto;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    object-fit: cover;
    float:right;
}
.titre-texe{
    color:#080808;
    font-size: 0.6cm;
    font-weight: 400px;
    text-transform: capitalize;
    margin-top: -10px;
    position: center;
}
.titre-texe span{
    color: gold;
    font-size: 1.7cm;
    font-weight: 700px;
}
@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translateX(-80px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight{
    from{
        opacity: 0;
        transform: translateX(180px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes scrolling{
    from{
        opacity: 0;
       scale: 0.5px;
    }
    to{
        opacity: 1;
        scale: 1px;
    }
}
.col50{
    flex: 1;
    text-align: center;
    opacity: 0;
    animation:fadeInLeft 0.5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.img{
    flex: 1;
    text-align: center;
    opacity: 0;
    animation:fadeInRight 0.5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.img img{
    box-shadow:0 4px 15px rgba(0,0,0,0.3);
}
.Nosprojes{
    background-color: #08c4e662;
     margin-top: 50px;
}
.Nosprojes .titre p{
    text-transform: capitalize;
    font-weight: 700;
}
.Nosprojes.navbar .li{
    list-style:none;
}
.nom{
    display: flex;
    position: relative;
    font-size: 1.1em;
}
.nom li{
    list-style:none;
}
.nom a{
    color: rgb(24, 24, 14);
    font-weight: 700;
    background: rgb(255, 217, 4);
    padding: 5px 9px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;  
    transition: 0.6s;
    margin-left: 5px;
    border-radius: 15px;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.9);
    border: #ffffff;
    flex: 1;
    text-align: center;
    opacity: 0;
    animation:fadeInRight 0.5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.Nosprojes .titre{
    flex: 1;
    text-align: center;
    opacity: 0;
    animation:fadeInRight 0.5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.Nosprojes .titre .titre-texe{
    text-align: center;
    color:#080808;
    font-size: 0.6cm;
    font-weight: 400px;
    text-transform: capitalize;
    margin-top: -50px;
    position: center;
    flex-direction: column;
}
.Nosprojes .contenu{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 40px; 
}
.Nosprojes .contenu .box{
    width: 230px;
    margin: 20px;
    border-radius: 20px;
    border: #dbdbdb 20px solid;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.9);
    margin-left: 20px;
}
.Nosprojes .contenu .box .texte{
    text-align: center;
    font-weight: 300px;
    color:#111;
}
.Nosprojes .contenu .box .texte h3{
    font-weight: 400;
}
.Nosprojes .contenu .box .imbox{
    width: 100%;
    position: relative;
}
.Nosprojes .contenu .box .imbox img{
    width: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
}
.Nosprojes .contenu .video video{
    width: 250px;
    height: 450px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    float:left;
    margin-top: 15px;
}
@keyframes scrolling{
    from{
        opacity: 0;
       transform: translateX(-180px);
    }
    to{
        opacity: 1;
         transform: translateX(0px);
    }
}
.contenu .box{
    animation: scrolling linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.Expert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
    min-height: 100pv;
    background-color: #08c4e662;
    margin-top:-05px;
    background-image: url(./hexa.png);
}
.Expert img{
    height: auto;
    width: 400px;
    max-width: 600px;
    border-radius: 15px;
    object-fit: cover;
    float:right;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.9);
    overflow: hidden;
    animation: moveSide 4s ease-in-out infinite;
}
@keyframes moveSide{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0);
    }
}
.Expert .col50 .titre-texe{
    margin-top: -170px;
}
.Temoignage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
    min-height: 100pv;
    background-color: #08c4e662;
    margin-top:-05px;
    background-image: url(./hexa.png);
}
.Temoignage img{
    height: auto;
    width: 400px;
    max-width: 600px;
    border-radius: 15px;
    object-fit: cover;
    float:right;
    box-shadow: 20px 15px 35px rgba(0,0,0,0.9);
    overflow: hidden;
    animation: moveSide 4s ease-in-out infinite;
}
.Temoignage .col50 .titre-texe{
    margin-top: -170px;
}
.Contacts{
     flex: 1;
    text-align: center;
    color:  #f6feff62;
    padding: 80px 60px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    background: linear-gradient(135deg,#0a0f2c,#004aad,#1e90ff);
}
.Contacts h2{
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 10px;
}
.Contacts p{
    color: #222;
    margin-bottom: 40px;
}
.Contacts .col50 p{
    color: white;
}
.Contacts-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}
.contact-logos{
    width: 45%;
    display: flex;
    position: relative;
    right: -90%;
    margin-top: -0cm;
    margin-left: 3cm;
    animation: moveSide 4s ease-in-out infinite;
}
.contact-logos p{
    font-size: 1.2rem;
    margin-bottom: 25px;
    color: #dbdbdb;
}
.logos-row{
    display: flex;
    gap: 25px;
    position: absolute;
    text-align: right;
    top: 80px;
}
.logo-box{
    background: white;
    border-radius: 15px;
    padding: 15px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
}
.logo-box img{
    width: 55px;
    height: 55px;
    object-fit: contain;
    transition: transform 0.4s ease;
}
.logo-box:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(255,255,255,0.4);
}
.logo-box:hover img{
    transform: scale(1.15);
}
.contacts-form{
    width: 45%;
    background: rgba(255,255,255,0.15);
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    gap:15px;
    text-align: left;
    bottom: 40px;
    left: 75%;
    margin-top: -1.9cm;
    box-shadow:  0 8px 20px rgba(255,255,255,0.4);
    animation: moveSide 4s ease-in-out infinite;
}
.contacts-form:hover{
    transform: scale(1.03);
}
.contacts-form h3{
    margin-bottom: 10px;
    color:#fff;
    font-size: 1.4rem;
}
.contacts-form input,
.contacts-form textarea{
    padding: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    margin-top: 5px;
    resize: none;
}
.contacts-form button{
    background-color:#0400f0;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1rem;
    transition: background 0.3s ease;
}
.contacts-form button:hover{
    background: #00ff22;
}
@media (max-with: 900px){
    .contacts-logos, .contacts-form{
        width: 100%;
        text-align:center;
    }
    .logo-row{
        justify-content: center;
    }
}